<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel IN</title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Главная страница</a></li>
                <li><a href="./rooms.html">Номера</a></li>
                <li><a href="./about-us.html">О нас</a></li>
                <li><a href="./pages.html"> Информация </a>
                    <ul class="dropdown">
                        <li><a href="./room-details.html">Детали номеров</a></li>
                        <li><a href="#">Президентские номера</a></li>
                        <li><a href="#">Семейные номера</a></li>
                        <li><a href="#">Премиум номера</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Новости</a></li>
                <li><a href="./contact.html">Контакты</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-telegram"></i></a>
            <a href="#"><i class="fa fa-vk"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> +7 (922) 288-87-99</li>
            <li><i class="fa fa-envelope"></i> Kalmar2996@mail.ru</li>
        </ul>
    </div>

    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> +7 (922) 288-87-99</li>
                            <li><i class="fa fa-envelope"></i> Kalmar2996@mail.ru</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-telegram"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn"><i class="fa fa-user"></i> Профиль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Главная страница</a></li>
                                    <li><a href="./rooms.html">Номера</a></li>
                                    <li><a href="./about-us.html">О нас</a></li>
                                    <li><a href="./pages.html"> Информация </a>
                                        <ul class="dropdown">
                                            <li><a href="./room-details.html">Детали номеров</a></li>
                                            <li><a href="#">Президентские номера</a></li>
                                            <li><a href="#">Семейные номера</a></li>
                                            <li><a href="#">Премиум номера</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">Новости</a></li>
                                    <li><a href="./contact.html">Контакты</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Travel IN </h1>
                        <p>Это сайт, для быстрого поиска, бронирования и оплаты номеров отелей</p>
                        <a href="rooms.html" class="primary-btn">Забронировать сейчас</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Выберите отель</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Заезд:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Выезд:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Гости:</label>
                                <select id="guest">
                                    <option value="">2 Персоны</option>
                                    <option value="">3 Персоны</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Комнаты:</label>
                                <select id="room">
                                    <option value="">1 Номер</option>
                                    <option value="">2 Номера</option>
                                </select>
                            </div>
                            <button type="submit">Проверить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
        </div>
    </section>

    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>О нас</span>
                            <h2>Travel IN</h2>
                        </div>
                        <p class="f-para">является ведущим сайтом онлайн бронирования отелей. 
                            Мы очень любим путешествия и помогаем миллионам путешественников найти для себя подходящий отель.</p>
                        <p class="s-para">Так что, когда дело доходит до бронирования идеального отеля, аренды для отпуска, курорта, апартаментов, гостевого дома или домика на дереве, мы вас обеспечим.</p>
                        <a href="#" class="primary-btn about-btn">Читать далее...</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/about/about-1.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="img/about/about-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Что мы предоставляем</span>
                        <h2>Откройте для себя наши услуги</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>План путешествий</h4>
                        <p>С нашей помощью вы можете выбрать различные места для посещения. Соберите для себя целую коллекцию из знаний, опыта и воспоминаний</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Ресторанное обслуживание</h4>
                        <p>Лучшие повара мира готовят изысканные блюда на ваш вкус. Бесплатный шведский стол</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Уборка номеров</h4>
                        <p>Мы очень серьезно подходим к чистоте в номерах. Предлагаем вам влажную уборку дважды в день</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Прачечная</h4>
                        <p>Ежедневная бесплатная стирка и замена ванных пренадлежностей </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Личный водитель</h4>
                        <p>Предоставляем услуги личного водителя, который доставит вас куда угодно, в любое время суток</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Бар & Напитки</h4>
                        <p> Круглосуточный бесплатный бар в вашем распоряжении</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b1.jpg">
                            <div class="hr-text">
                                <h3>Две комнаты</h3>
                                <h2>14 999 р<span> / За ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Размер:</td>
                                            <td>50 кв/м</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Макс. персон 4</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Королевские кровати</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Услуги:</td>
                                            <td>Wifi, Телевидение, Санузел,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">Больше деталей</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b2.jpg">
                            <div class="hr-text">
                                <h3>Премиум номер</h3>
                                <h2>11 999 р<span> / За ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Размер:</td>
                                            <td>30 кв/м</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Макс. персон 2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Королевские кровати</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Услуги:</td>
                                            <td>Wifi, Телевидение, Санузел,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">Больше деталей</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b3.jpg">
                            <div class="hr-text">
                                <h3>Президентский номер</h3>
                                <h2>19 999 р<span> / За ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Размер:</td>
                                            <td>70 кв/м</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Макс. персон 2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Королевские кровати</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Услуги:</td>
                                            <td>Wifi, Телевидение, Санузел,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">Больше деталей</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b4.jpg">
                            <div class="hr-text">
                                <h3>Семейный номер</h3>
                                <h2>16 999 р<span> / За ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Размер:</td>
                                            <td>75 кв/м</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Макс. персон 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Королевские кровати</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Услуги:</td>
                                            <td>Wifi, Телевидение, Санузел,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">Больше деталей</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Рекомендации</span>
                        <h2>Отзывы клиентов</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>Первый раз воспользовался услугами данной компании. Все было на высшем уровне. В отеле были предоставлены все заявленные услуги.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Александр Новиков</h5>
                            </div>
                            <img src="img/logo.png" alt="" id="otz">
                        </div>
                        <div class="ts-item">
                            <p>Уральский региональный колледж лучший</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Иван Иванов</h5>
                            </div>
                            <img src="img/logo.png" alt="" id="otz">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Новости отеля</span>
                        <h2>Наши блоги & Мероприятия</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Блоги</span>
                            <h4><a href="#">Путешествие в Дубаи</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 22 Июля, 2022</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-2.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Кемпинг</span>
                            <h4><a href="#">Экскурсия в Египет</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15 Февраля, 2023</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-3.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Мероприятие</span>
                            <h4><a href="#">Медный каньон</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 21 Апреля, 2022</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-item small-size set-bg" data-setbg="img/blog/blog-wide.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Мероприятие</span>
                            <h4><a href="#">Поездка в Икалуит Канадский арктический город</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 8 декабря, 2022</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item small-size set-bg" data-setbg="img/blog/blog-10.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Путешествие</span>
                            <h4><a href="#">Путешествие в Барселону</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 17 Мая, 2022</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="" id="foot">
                                </a>
                            </div>
                            <p>Мы вдохновляем и охватываем миллионы путешественников</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-telegram"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Наши контакты</h6>
                            <ul>
                                <li>+7 922 288-87-99</li>
                                <li>Kalmar2996@mail.ru</li>
                                <li>Мкр-н Студенческий, 4</li>
                                <li> Новый Уренгой </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Последние новости</h6>
                            <p>Получайте последние обновления и предложения.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Наши контакты</a></li>
                            <li><a href="#">Конфиденциальность</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Искать тут...">
            </form>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>